
body {
  background-color:#FFFFFF;
  color:#000000;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0 auto;
  width: 589px;
}

h1 {
  margin-top: 40px;
}

#header {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  float: left;
  width: 589px;
  height:56px;
  padding-bottom: 20px;
}


#print-paragraphs {
	margin-top: 20px;
	margin-bottom: 40px;
  float: left;
}

#submit {

  background-color: #e191b6;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  font-size: 1em;
  margin-top: 1em;
  padding: 2px;
  width: 75px;
}

#submit:hover {
  cursor: pointer;
  background-color: #d1558e;
}

#footer {
  position: relative;
  margin-top: -180px;
  clear: both;
  font-size: .8em;
}

a {
  color: #e191b6;
  text-decoration: none;

}

a:hover {
  color: #d1558e;
  text-decoration: underline;
  cursor: pointer;
}



